[submodule "sentinel.computer/src/common_packages"]
	path = sentinel.computer/src/common_packages
	url = git@github.com:CankayaUniversity/ceng-407-408-2024-2025-Sentinel-Autonomous-Discovery-Vehicle.git
	branch = Common-Packages
[submodule "sentinel.vehicle/src/common_packages"]
	path = sentinel.vehicle/src/common_packages
	url = git@github.com:CankayaUniversity/ceng-407-408-2024-2025-Sentinel-Autonomous-Discovery-Vehicle.git
	branch = Common-Packages
