<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <gazebo reference="left_front_wheel">
        <mu1>1.0</mu1>
        <mu2>0.7</mu2>
        <kp>200000.0</kp>
        <kd>5000.0</kd>
        <minDepth>0.002</minDepth>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="right_front_wheel">
        <mu1>1.0</mu1>
        <mu2>0.7</mu2>
        <kp>200000.0</kp>
        <kd>5000.0</kd>
        <minDepth>0.002</minDepth>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="left_rear_wheel">
        <mu1>1.0</mu1>
        <mu2>0.7</mu2>
        <kp>200000.0</kp>
        <kd>5000.0</kd>
        <minDepth>0.002</minDepth>
        <fdir1>0 1 0</fdir1>
    </gazebo>

    <gazebo reference="right_rear_wheel">
        <mu1>1.0</mu1>
        <mu2>0.7</mu2>
        <kp>200000.0</kp>
        <kd>5000.0</kd>
        <minDepth>0.002</minDepth>
        <fdir1>0 1 0</fdir1>
    </gazebo>
    <gazebo>
        <plugin filename="skid_steering_plugin" name="gz::sim::systems::GazeboRosSkidSteerDrive">
            <update_rate>100</update_rate>

            <left_front_joint>left_front_wheel_joint</left_front_joint>
            <right_front_joint>right_front_wheel_joint</right_front_joint>
            
            <left_rear_joint>left_rear_wheel_joint</left_rear_joint>
            <right_rear_joint>right_rear_wheel_joint</right_rear_joint>

            <wheel_separation>0.128</wheel_separation>
            <wheel_radius>0.0325</wheel_radius>
            <wheel_base>0.115</wheel_base>

            <topic>cmd_vel</topic>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <tf_topic>/tf</tf_topic>
            <child_frame_id>base_link</child_frame_id>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <update_rate>100</update_rate>
            <topic>joint_states</topic>

            <joint_name>left_front_wheel_joint</joint_name>
            <joint_name>right_front_wheel_joint</joint_name>

            <joint_name>left_rear_wheel_joint</joint_name>
            <joint_name>right_rear_wheel_joint</joint_name>
        </plugin>
    </gazebo>


</robot>